In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('C:/Users/pedro/OneDrive/Documentos/CURSOS/Python do DS ao DEV/products_hm_cleaned.csv/products_hm_cleaned.csv')

In [4]:
data.head()

,product_id,product_category,product_name,product_price,scrapy_datetime,style_id,color_name,fit,size_number,size_model,cotton,polyester,elastane,elasterell
0,636207006,men_jeans_slim,slim_jeans,19.99,2021-04-11 17:48:05,636207,white,slim_fit,187.0,31/32,0.99,0.0,0.01,0.0
1,636207006,men_jeans_slim,slim_jeans,19.99,2021-04-11 17:48:05,636207,dark_denim_blue,slim_fit,187.0,31/30,0.88,0.1,0.02,0.0
2,636207006,men_jeans_slim,slim_jeans,19.99,2021-04-11 17:48:05,636207,dark_gray_denim,slim_fit,187.0,31/30,0.88,0.1,0.02,0.0
3,636207006,men_jeans_slim,slim_jeans,19.99,2021-04-11 17:48:05,636207,gray,slim_fit,187.0,31/30,0.88,0.1,0.02,0.0
4,636207006,men_jeans_slim,slim_jeans,19.99,2021-04-11 17:48:05,636207,black,slim_fit,187.0,31/30,0.88,0.1,0.02,0.0

In [6]:
import sqlite3

In [66]:
query_showroom_schema = """ 
    CREATE TABLE vitrine (
       product_id          INTEGER, 
       product_category       TEXT, 
       product_name           TEXT, 
       product_price          REAL,
       scrapy_datetime        TEXT, 
       style_id            INTEGER, 
       color_name             TEXT, 
       fit                    TEXT, 
       size_number            REAL,
       size_model             TEXT, 
       cotton                 REAL, 
       polyester              REAL, 
       elastane               REAL, 
       elasterell             REAL    
    )
"""

In [67]:
# connect to dataset
conn = sqlite3.connect('hm_db.sqlite')
cursor = conn.execute(query_showroom_schema)
conn.commit()
conn.close()

In [14]:
from sqlalchemy import create_engine

In [68]:
conn = create_engine('sqlite:///hm_db.sqlite', echo=False)

In [71]:
query = """
SELECT * FROM vitrine_two
"""
df = pd.read_sql_query( query, conn )
df.head()

,product_id,product_category,product_name,product_price,scrapy_datetime,style_id,color_name,fit,size_number,size_model,cotton,polyester,elastane,elasterell
0,636207006,men_jeans_slim,slim_jeans,19.99,2021-04-11 17:48:05,636207,white,slim_fit,187.0,31/32,0.99,0.0,0.01,0.0
1,636207006,men_jeans_slim,slim_jeans,19.99,2021-04-11 17:48:05,636207,dark_denim_blue,slim_fit,187.0,31/30,0.88,0.1,0.02,0.0
2,636207006,men_jeans_slim,slim_jeans,19.99,2021-04-11 17:48:05,636207,dark_gray_denim,slim_fit,187.0,31/30,0.88,0.1,0.02,0.0
3,636207006,men_jeans_slim,slim_jeans,19.99,2021-04-11 17:48:05,636207,gray,slim_fit,187.0,31/30,0.88,0.1,0.02,0.0
4,636207006,men_jeans_slim,slim_jeans,19.99,2021-04-11 17:48:05,636207,black,slim_fit,187.0,31/30,0.88,0.1,0.02,0.0

In [70]:
# insert data to table
data.to_sql('vitrine', con=conn, if_exists='append', index=False)

308

In [65]:
# Command - UPDATE
#query = """
#    UPDATE vitrine
#    SET product_category = 'jeans'
#    WHERE product_id = 636207006
#"""

# Command - DROP
#query = """
#    DROP TABLE vitrine
#"""

# Command - ALTER TABLE
#query = """
#    ALTER TABLE vitrine
#    RENAME TO vitrine_two
#"""

# Command - CREATE INDEX
#query = """
#    CREATE INDEX idx_product_id
#    ON vitrine_two (product_id)
#"""

#conn = sqlite3.connect('hm_db.sqlite')
#cursor = conn.execute(query)
#conn.commit()